* {
    box-sizing: border-box;
}

body {
    background-color: #DDE1E6!important;
}

#eye {
    width: 30px;
}

#eye:hover {
    background-color: #5ac6f8;
}

.menu {
    background-color: white;
    color: #0084CD;
    font-weight: lighter;
    margin-bottom: 10px;
    padding: 10px;
}

.list ul {
    display: flex;
    float: left;
}

.list ul li {
    color: #777777;
    cursor: pointer;
    display: inline-block;
    font-weight: lighter;
    padding-top: 14px;
    padding-left: 15px;
}

.list h1 img {
    float: left;
}

.itemsNumber {
    float: left;
    padding-top: 14px;
}

.boxGeneral {
    background-color: white;
    overflow: hidden;
    padding: 30px 0px;
}

.boxGeneral .item {
    float: left;
    width: 20%;
}

.boxInner {
    height: 410px;
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
}

.boxInner:hover {
    -webkit-box-shadow: -4px 6px 14px -2px rgba(161, 155, 161, 1);
    -moz-box-shadow: -4px 6px 14px -2px rgba(161, 155, 161, 1);
    box-shadow: -4px 6px 14px -2px rgba(161, 155, 161, 1);
}

.boxInner .text {
    color: #0c4d6c;
    font-size: 16px;
    font-weight: lighter;
    height: 60px;
    line-height: 21px;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

.boxInner .image img {
    height: 200px;
    padding-top: 12px;
    width: auto;
}

.price {
    color: gray;
    font-weight: bold;
    margin: 10px 0px;
}

.buttonShop {
    background-color: #0c4d6c;
    border-radius: 28px;
    color: white;
    font-size: 14px;
    height: 40px;
    line-height: 38px;
    margin: 0 auto;
    transition: all 1s;
    width: 120px;
}

.buttonShop:hover {
    background-color: #1583b7;
    cursor: pointer;
}

.imageProduct {
    text-align: center;
}

.imageProduct img {
    height: auto;
    width: 70%;
}

.titleProduct {
    color: #0c4d6c;
    font-size: 40px;
    font-weight: lighter;
}

.priceProduct {
    font-size: 25px;
}

.priceSubtotal {
    font-size: 30px;
}

.quantity {
    float: left;
    margin-top: 20px;
    width: 130px;
}

.quantity .minus {
    float: left;
    height: 45px;
}

.quantity .plus {
    float: left;
    height: 45px;
}

.quantity .quantityInner {
    box-shadow: none;
    display: inline-block;
    float: left;
    height: 45px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    vertical-align: bottom;
    width: 50px;
}

.shoProduct {
    background-color: #0c4d6c;
    border-radius: 28px;
    color: white;
    float: left;
    height: 40px;
    line-height: 38px;
    margin: 0 auto;
    margin-top: 20px;
    transition: all 1s;
    text-align: center;
    width: 120px;
}

.shoProduct:hover {
    background-color: #1583b7;
    cursor: pointer;
}

.content {
    display: table-caption;
    overflow: hidden;
}

.fa-shopping-cart {
    margin-top: 16px;
}

.fa-shopping-cart:hover {
    cursor: pointer;
    margin-top: 16px;
}

.modal-header .image img {
    height: 200px;
    width: auto;
}

.copy {
    background-color: #0c4d6c;
    color: white;
    height: 50px;
}

.copy > p {
    padding: 12px;
    margin: 0 auto;

}

.description-modal {
    display: block;
}

.stars {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    width: 25%;
}

.search {
    margin-top: 10px;
}

.search:hover {
    cursor: pointer;
    margin-top: 10px;
}

.input-group-text {
    cursor: pointer;
}

.width-image {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.color-blue {
    color: #1583b7;
    text-align: center;
}

.navbar {
    background-color: white;
}

.navbar-toggler {
    float: right;
}

.nav-item {
    padding-left: 10px;
}

#paypal-button-container {
    text-align: center;
}

.price-style {
  background-color: white;
  text-align: center;
  font-size: 30px;
  margin: 20px;
}
